<!-- $title 86/60 Konzept & Design -->
<!-- @include header -->

%section.coming-soon
	%div
		%h1	Wir sind 86<span>/</span>60.<br>Und bald ganz zu sehen.
		%p Aber jetzt schon <a href="<!-- @path kontakt -->">erreichbar</a>.