<!-- @include header -->

%section.kontakt
	%div
		%h1	Wir sind 86<span>/</span>60.<br>Was können wir für Sie tun?
		%p 
			%a(href="tel:+436608142150")+43 660 81 42 150
			&nbsp;&nbsp;
			%a(href="mailto:beide@8660.at")beide@8660.at
		%p
			86/60 Konzept & Design OG<br>
			%a(href="https://goo.gl/maps/D6HED")Liniengasse 2B, 1060 Wien

