<!-- @include header -->

%section.kontakt
	%div
		%h1	Wir sind 86<span>/</span>60.<br>Was können wir für Sie tun?
		%p 
			%a(href="tel:+436608142150")+43 660 81 42 150
			&nbsp;&nbsp;
			%a(href="mailto:beide@8660.at")beide@8660.at
		%p
			86/60 Konzept & Design OG<br>
			%a(href="https://goo.gl/maps/D6HED")Liniengasse 2B, 1060 Wien

	.newsletter
		%p Wir informieren Sie gerne wenn unsere Website startet:

		%form(action="http://8660.us8.list-manage1.com/subscribe/post?u=727c8d8ed83edc6f76b3d5e55&amp;id=c2db0976b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate)
			
			#mce-responses.clear
			<div style="position: absolute; left: -5000px;"><input type="text" name="b_727c8d8ed83edc6f76b3d5e55_c2db0976b9" tabindex="-1" value=""></div>

			.mc-field-group
				%input(type="email" value="" name="EMAIL" placeholder="Ihre E-Mail Adresse" class="required email" id="mce-EMAIL")
			
				%input(type="submit" value="Info erhalten" name="subscribe" id="mc-embedded-subscribe" class="button")
