<!-- @include header -->

%section.kontakt
	%h1	Wir sind 86<span>/</span>60.<br>Und freuen uns auf Sie.
	%p 
		<strong>86/60 Konzept & Design OG</strong><br>
		Liniengasse 2B<br>1060 Wien
	%p
		Tel.
		%a(href="tel:+436608142150")+43 660 81 42 150
		<br>
		%a(href="mailto:beide@8660.at")beide@8660.at
