<!-- $title 86/60 Konzept & Design -->
<!-- @include header -->

.dummy-content

.splash-bg

	%section.splash-content
		%div
			%p Weil Zeichenschatz & <a href="http://einvoll.net" class="hidden">Einvoll</a> gemeinsam noch besser sind.

			%h1
				Wir wachsen zusammen.<br>Und sind jetzt <a href="http://8660.at" target="blank">86<span>/</span>60</a>.
			
				%a.close-link(href="#")
					<!-- @include svg-icon-x -->
