<!-- $title 86/60 Konzept & Design -->
<!-- @include header -->

.splash-bg

	%section.splash
		%div
			%h1	Weil wir gemeinsam noch besser sind.
			%p 
				<a href="http://zeichenschatz.net" class="hidden">Zeichenschatz</a> und <a href="http://einvoll.net"  class="hidden">Einvoll</a> wachsen zusammen.<br>Und sind <a href="http://8660.at">86/60</a>.
			%p
				%a(href="#")
					<!-- @include svg-icon-x -->
