a:link, a:visited
	text-decoration: none
	color: inherit
	border-bottom: $brand-color-2 3px solid
	padding-bottom: 0px
	transition: color 0.3s ease-in-out, border 0.2s ease-out

a:hover 
	color: $brand-color-2
	border-bottom-color: transparent

a:active
	color: $brand-color-1

a:focus
	background-color: $brand-color-2
	color: #fff
	border-bottom: inherit

a[href^="mailto"], a[href^="tel"]
	border-bottom-color: transparent
