section
	min-height: 100%
	background-color: $brand-color-3
	border-bottom: $outside-border solid #fff
	
	@include respond-to(handhelds)
		padding: 1em

	@include respond-to(medium-screens)
		padding: 5em
		padding-bottom: 3em

	@include respond-to(wide-screens)
		padding: 10em
		padding-bottom: 5em

	> div
		max-width: 30em
		margin: auto


.coming-soon
	background-color: #fff
	background-position: bottom center
	background-repeat: no-repeat
	background-size: cover
	background-image: url('heads')

	@include respond-to(medium-screens)
		> div
			-webkit-animation-name: fade-in
			animation-name: fade-in

			-webkit-animation-delay: 0.5s
			animation-delay: 0.5s

			-webkit-animation-duration: 2s
			animation-duration: 2s

			-webkit-animation-timing-function: ease
			animation-timing-function: ease

			-webkit-animation-iteration-count: 1
			animation-iteration-count: 1

			-webkit-animation-fill-mode: backwards
			animation-fill-mode: backwards

.dummy-content
	background: url(bg-zeichenschatz)
	background-repeat: no-repeat
	background-position: top center
	height: 100%
	margin: -1.5rem

.splash-bg
	position: absolute
	top: 0
	right: 0
	bottom: 0
	left: 0
	background-color: rgba(0,0,0,0.6)

.splash-content
	background-color: $brand-color-4
	border: 1em solid #fff
	position: absolute
	left: 50%
	top: 50%
	width: 720px
	margin-left: -360px
	margin-top: -200px
	min-height: inherit
	padding: 70px 60px

	h1
		font-size: 1.8em

	> div
		max-width: inherit

.close-link
	position: absolute
	right: 20px
	top: 20px

	&:link, &:visited
		background-image: inherit

		.icon-x
			fill: #888

	&:hover
		.icon-x
			fill: $brand-color-2

	&:active
		.icon-x
			fill: $brand-color-1

.newsletter
	margin-top: 3em

	form
		margin-top: -0.5em
