<!-- @reload -->

<!DOCTYPE html>
%html

	%head
		%title 86/60 Konzept & Design
		%meta(charset="utf-8")
		%meta(name="viewport" content="width=device-width, initial-scale=1")
		%link(href="<!-- @path favicon.ico -->" rel="shortcut icon")
		%link(href="<!-- @path apple-touch-icon.png -->" rel="apple-touch-icon")
		<script type="text/javascript" src="//use.typekit.net/ssn2yla.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
		<!-- @stylesheet style -->

	%body